body
{
background-color: darkgray;
}

#container
{
width: 1280px;
height: 720px;
margin: auto;
}

#panel-lewy
{
width: 40%;
height: 600px;
float: left;
background-color: #FF6633;
}

#panel-prawy
{
width: 60%;
height: 600px;
background-color: #FF9933;
float: left;
}

#footer
{
clear:both;
height: 120px;
background-color: #993300;
color: white;
font-size: 150%;
text-align: right;
}

table tr td
{
margin: 20px;
padding: 30px;
border: 2px solid;
border-color: brown;
}

table
{border-collapse: collapse;}

h1
{text-align: center;}

img
{width: 450px;
height: 350px;}

#zegar
{
	font-size: 16px;
	color: black;
}